*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  color: #000;
}

.container {
  max-width: 1340px;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0;
}
.page__item {
  margin-bottom: 10px;
  font-size: 18px;
}
.page__item:last-child {
  margin-bottom: 0;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: #7C48EE;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 20px;
  position: relative;
}
.header__inner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #C2C8D0;
}
.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header .nav__item-link {
  padding: 10px 45px;
  border: 1px solid #7C48EE;
  -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
  border-radius: 2px;
  color: #7C48EE;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header .nav__item-link:hover {
  background-color: #7C48EE;
  color: #fff;
}
.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__box-mobile {
  display: none;
}
.header__box-text {
  margin: 4px 0px;
  color: #312D3A;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.header__box-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #7C48EE;
}

.font--green {
  color: #0DA94F;
}

.font--red {
  color: #EA0000;
}

.font--yellow {
  color: #FBBC09;
}

.font--blue {
  color: #509CE9;
}

.font--dark {
  color: #312D3A;
}

.font--gray {
  color: #C2C8D0;
}

@media (max-width: 1000px) {
  .header .nav__item-link {
    padding: 10px 20px;
  }
}
@media (max-width: 800px) {
  .header__inner {
    padding: 20px 0;
  }
  .header .nav__item-link {
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
  }
}
@media (max-width: 700px) {
  .header__box {
    display: none;
  }
  .burger {
    z-index: 10;
    cursor: pointer;
  }
  .burger::after, .burger::before {
    content: "";
    display: block;
    width: 25px;
    border: 2px solid #7C48EE;
    border-radius: 10px;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .burger.burger--active span {
    display: none;
  }
  .burger.burger--active::after {
    content: "";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #7C48EE;
  }
  .burger.burger--active::before {
    content: "";
    -webkit-transform: translateY(4px) rotate(45deg);
        -ms-transform: translateY(4px) rotate(45deg);
            transform: translateY(4px) rotate(45deg);
    background-color: #7C48EE;
  }
  .burger-line {
    display: block;
    width: 25px;
    border: 2px solid #7C48EE;
    border-radius: 10px;
    margin: 4px 0;
  }
}
@media (max-width: 550px) {
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header .nav {
    margin-top: 10px;
  }
  .burger {
    position: absolute;
    top: 30px;
    right: 15px;
  }
}
.main {
  margin: 30px 0 70px;
}
.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.aside {
  width: 100%;
  max-width: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.aside__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aside__box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 11px 18px;
  border: 1px solid #C2C8D0;
  border-radius: 4px 4px 0px 0px;
}
.aside__box-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #C2C8D0;
  border-top: none;
  border-radius: 0px 0px 8px 8px;
}
.aside__box-item {
  padding: 11px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aside__box-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #312D3A;
}
.aside__box-money {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #85B7F0;
}
.aside__top-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #312D3A;
}
.aside__top-number {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #85B7F0;
  padding: 2px 8px;
  border: 1px solid #85B7F0;
  border-radius: 50%;
}
.aside__top-arrow {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aside__accordion-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 11px 18px;
  border: 1px solid #C2C8D0;
  border-radius: 4px 4px 0px 0px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.aside__accordion-list {
  border: 1px solid #C2C8D0;
  border-top: none;
  border-radius: 0px 0px 8px 8px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.aside__accordion-item {
  padding: 14px 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
}
.aside__accordion-text {
  width: 30px;
}
.aside__accordion-label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aside__accordion-label:hover .aside__accordion-check::before {
  border-color: #85B7F0;
}
.aside__accordion-check {
  position: relative;
  margin-right: 12px;
  cursor: pointer;
}
.aside__accordion-check::after {
  content: url(../images/invoices/check.svg);
  position: absolute;
  width: 13px;
  height: 14px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.aside__accordion-check::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  width: 20px;
  height: 20px;
  border: 1px solid #C2C8D0;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aside__accordion-check:checked::after {
  opacity: 1;
}
.aside__accordion-check:checked::before {
  background-color: #85B7F0;
}
.aside__accordion-select {
  border-color: #C2C8D0;
  border-radius: 4px;
  padding: 3px 0;
  background-color: #fff;
  outline: 0;
}
.aside__accordion-select::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
.aside__accordion-select::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #C2C8D0;
}
.aside__accordion-btn {
  padding: 13px 0;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  background-color: #7C48EE;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aside__accordion-btn:hover {
  background-color: #fff;
  border-color: #7C48EE;
  color: #7C48EE;
}

.accordion__top--active {
  border-color: #85B7F0;
}

.accordion__list--active {
  max-height: 100%;
  border-color: #85B7F0;
}

.accordion__arrow--active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.content {
  max-width: 875px;
  margin-left: 20px;
  width: 100%;
}
.content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #C2C8D0;
}
.content__top-box {
  margin-top: 25px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  position: relative;
}
.content__top-number {
  color: #7C48EE;
  margin-left: 5px;
}
.content__top-list {
  position: absolute;
  top: 30px;
  z-index: 10;
  right: 0;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.content__top-item {
  padding: 0 20px 0 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.content__top-item:hover {
  background-color: #85B7F0;
}
.content__top-search {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 15px;
  padding: 8px 16px;
  max-width: 285px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #7C48EE;
  border-radius: 4px;
}
.content__top-input {
  margin-left: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #312D3A;
  outline: none;
  border: none;
}
.content__top-input::-webkit-input-placeholder {
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.content__top-input::-moz-placeholder {
  color: #000;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.content__top-input:-ms-input-placeholder {
  color: #000;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.content__top-input::-ms-input-placeholder {
  color: #000;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.content__top-input::placeholder {
  color: #000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.content__top-input:focus::-webkit-input-placeholder {
  color: #858585;
}
.content__top-input:focus::-moz-placeholder {
  color: #858585;
}
.content__top-input:focus:-ms-input-placeholder {
  color: #858585;
}
.content__top-input:focus::-ms-input-placeholder {
  color: #858585;
}
.content__top-input:focus::placeholder {
  color: #858585;
}
.content__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px 0;
}
.content__titles-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 135px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content__body {
  position: relative;
}
.content__body-titleDate {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  padding: 6px 20px;
  border: 1px solid #0DA94F;
  border-radius: 100px;
  background-color: #fff;
  z-index: 5;
}
.content__body-list {
  padding: 30px 0 0;
  position: relative;
}
.content__body-list::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #0DA94F;
}
.content__body-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.content__body-item:hover {
  background-color: #ebebeb;
}
.content__body-number {
  position: absolute;
  left: 10px;
}
.content__body-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content__body-status {
  padding: 6px 45px;
  border: 1px solid #7C48EE;
  border-radius: 2px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.style--width {
  width: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top__list--active {
  border: 1px solid #7C48EE;
  max-height: 20vh;
}