*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  color: #000;
}

.body--active {
  overflow: hidden;
}

.container {
  max-width: 1340px;
  padding: 0 10px; 
  margin: 0 auto; 
  height: 100%;
  overflow-x: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;

  &__item {
    margin-bottom: 10px;
    font-size: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: $fs-purple;
  // white-space: nowrap;
}

// _____HEADER_____

.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
    border-bottom: 1px solid $border-gray;
    // position: relative; 
    // &::before {
    //   content: '';
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 1px;
    //   background-color: $bg-gray;
    // }
  }

  .nav {
    &__list {
      display: flex;  
      align-items: center;
      gap: 10px;

    }
    &__item-link {
      // padding: 10px 45px;
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      border: 1px solid $border-purple;
      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
      border-radius: 2px;
      color: $fs-purple;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      transition: all .5s;
      &:hover {
        background-color: $bg-purple;
        color: $fs-white;
      }
    }
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .4s;
      &:hover {
        transform: scale(1.2);
      }
    }
    &-img {
      width: 35px;
      height: 35px;
    }

    &-links {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      border: 1px solid #C2C8D0;
      padding: 5px 10px;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 1.3px;
      border-radius: 4px;
      top: 33px;
      right: 0px;
      background-color: #fff;
    }
    &-link {
      white-space: nowrap;
      transition: all .5s;
      &:hover {
        color: $fs-purple;
      }
    }
    .header__box--active {
      display: flex;
    }
  }
}

.main {
  margin: 30px 0 70px;
  &__inner {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
}


.aside {
  width: 100%;
  max-width: 315px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  &-info {
    width: 100%;
    max-width: 315px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
      &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 11px 18px;
      border: 1px solid $border-gray;
      border-radius: 4px 4px 0px 0px;
    }
    
      &-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid $border-gray;
      border-top: none;
      border-radius: 0px 0px 8px 8px;
    }
    
      &-item {
      padding: 11px 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

      &-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: $fs-dark;
    }
    
      &-money {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: $fs-blue;
    }
  }

    &__top {
      &-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $fs-dark;
      }

      &-number {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $fs-blue;
        padding: 2px 8px;
        border: 1px solid $border-blue;
        border-radius: 50%;
      }
      &-arrow {
          transition: all .5s;
      }
    }

  //_____ACCORDION_____

    &__accordion {
      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 11px 18px;
        border:  1px solid $border-gray;
        border-radius: 4px 4px 0px 0px;
        cursor: pointer;
        transition: all .3s;
      }
      
      &-list {
        border:  1px solid $border-gray;
        border-top: none;
        border-radius: 0px 0px 8px 8px;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-out;
      }

      &-item {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1px;
      }
      
      &-link {
        padding: 14px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        transition: all .5s;
        &:hover {
          background-color: #c6e1ff;
        }
      }

      &-text {
        width: 30px;
      }
    }
  }

  &-filter {
    width: 100%;
    max-width: 315px;
    display: flex;
    flex-direction: column;
    gap: 20px;

  &__top {
    &-title {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $fs-dark;
    }

    &-number {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: $fs-blue;
      padding: 2px 8px;
      border: 1px solid $border-blue;
      border-radius: 50%;
    }
    &-arrow {
        transition: all .5s;
    }
  }
    &__accordion {
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 11px 18px;
      border:  1px solid $border-gray;
      border-radius: 4px 4px 0px 0px;
      cursor: pointer;
      transition: all .3s;
    }
    
    &-list {
      border:  1px solid $border-gray;
      border-top: none;
      border-radius: 0px 0px 8px 8px;
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease-out;
    }

    &-item {
      padding: 14px 24px;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1px;
    }
    
    &-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      transition: all .5s;
      &:hover {
        background-color: #c6e1ff;
      }
    }

    &-text {
      width: 30px;
    }

    &-label {
      cursor: pointer;
      display: flex;
      align-items: center;
      &:hover {
        .aside-filter__accordion-check {
          &::before {
            border-color: $bg-blue;
          }
        }
      }
    }

    &-check {
    position: relative;
    margin-right: 12px;
    cursor: pointer;
      &::after {
        content: url(../images/invoices/check.svg);
        position: absolute;
        width: 13px;
        height: 14px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        z-index: 1;
        transition: .3s;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #fff;
        width: 20px;
        height: 20px;
        border: 1px solid $border-gray;
        border-radius: 5px;
        transition: all .5s;
      }
      &:checked {
        &::after{
          opacity: 1;
        }
        &::before {
          background-color: $bg-blue;
        }
      }
    }

    &-select {
      border-color: $border-gray;
      border-radius: 4px;
      padding: 3px 0;
      background-color: $bg-white;
      outline: 0;
      
      &::-webkit-scrollbar {
        width: 10px;
        background-color: white;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $border-gray;
      } 
    }   

    &-btn {
      padding: 13px 0;
      color: $fs-white;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      width: 100%;
      background-color: $bg-purple;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      border: 1px solid transparent;
      border-radius: 4px;
      cursor: pointer;
      transition: all .5s;
      &:hover {
        background-color: $bg-white;
        border-color: $border-purple;
        color: $fs-purple;
      }
    }
  }
  }
}

.header__link--active {
  background-color: $bg-purple;
  color: $fs-white;
}

.accordion__top--active {
  border-color: $border-blue;
}

.accordion__list--active {
  max-height: 100%;
  border-color: $border-blue;
}

.accordion__arrow--active {
  transform: rotate(180deg);
}

.burger{
  display: none;
}



.font--green {
  color: #0DA94F;
}
.font--red {
  color: #EA0000;
}
.font--yellow {
  color: #FBBC09;
}
.font--blue {
  color: #509CE9;
}
.font--dark {
  color: #312D3A;
}
.font--gray {
  color: #C2C8D0;
}
.font--pink {
  color: #FFBAF8;;
}

@media(max-width:1000px) {

  .header {
    .nav {
      &__item {
        &-link {
          width: 85px;
        }
      }
    }
  }

  .title {
    font-size: 30px;
    line-height: 120%;
  }

  .aside {
    max-width: 235px;
    &-filter,
    &-info {
      max-width: 235px;
    }
  }
}

@media(max-width:800px) {

  .header {
    &__inner {
      padding: 20px 0 30px;
    }
    .nav {
      &__item {
        &-link {
          font-size: 14px;
          line-height: 20px;
          padding: 10px;
        }
      }
    }
  }
}

@media(max-width:750px) {

  .header {
    position: fixed;
    background-color: $bg-white;
    z-index: 50;
    width: 100%;
    &__inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }

    &__logo {
      grid-area: 1 / 2 / 2 / 3;
      display: flex;
      justify-content: center;
    }

    &__box {
      grid-area: 1 / 3 / 2 / 4;
      justify-content: flex-end;

      &-links {
        padding: 10px;
        font-size: 16px;
        gap: 10px;
        line-height: 20px;
      }
    }


    .nav {
      margin-top: 10px;
      grid-area: 2 / 1 / 3 / 4;
      &__list {
        display: flex;
        justify-content: center;
      }
      &__item-link {
        width: 100px;
      }
    }
  }
    .burger {
      grid-area: 1 / 1 / 2 / 2;
      display: block;
      margin-top: 10px;
      z-index: 15;
      width: 26px;
      cursor: pointer;
      &::after,
      &::before {
        content: '';
        display: block;
        width: 25px;
        border: 2px solid $border-purple;
        border-radius: 10px;
        transition: transform 0.4s;
      }
    }

    .burger.burger--active,
    .burger.burger-filter--active {
      span {
        display: none;
      }
      &::after {
        content: '';
        transform: rotate(-45deg);
        background-color: $bg-purple;
      }
      &::before {
        content: '';
        transform: translateY(3.4px) rotate(45deg);
        background-color: $bg-purple;
      }
    }

    .burger {
      &-line {
        display: block;
        width: 25px;
        border: 2px solid $border-purple;
        border-radius: 10px;
        margin: 4px 0;
      }
    }

    .main {
      padding-top: 190px;
      margin: 0 0 30px;
    }

    .aside {
      width: 0;
      &-info,
      &-filter {
        padding: 0px 10px 10px;
        margin-top: 168px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        max-width: 315px;
        width: 300px;
        display: flex;
        flex-direction: column;
        transform: translateX(-100%);
        transition: transform 0.4s;
        overflow: auto;
        background-color: #fff;
        z-index: 15;
  
      &--active {
        transform: translateX(0);
      }
    }
    }
}

@media(max-width:550px) {
  .header {
    &__inner {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav {
      margin-top: 10px;
    &__item-link {
        width: 70px;
      }
    }

    &__box {
      gap: 2px;
      &-img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .main {
    padding-top: 160px;
  }

  .aside {
    &-filter,
    &-info {
      margin-top: 143px;
      &__accordion {
        &-date {
          justify-content:flex-start;
          gap: 10px;
        }
      }
    }
  }
}

@media(max-width:450px) {
  .aside {
    &-filter,
    &-info{
      max-width: none;
      width: 100%;
    }
  }
}