@import 'vars';
@import 'global';


.content {
  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    column-gap: 12px;
    &-arrow,
    &-buttons,
    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-arrow {
      &:disabled {
        color: #b3b3b3;
        pointer-events: none;
      }
    }
    
    &-buttons {
      column-gap: 12px;
    }

    &-arrow,
    &-button {
      height: 50px;
      width: 45px;
      font-size: 20px;
      color: #666666;
      background-color: #f2f2f2;
      border-radius: 6px;
      cursor: pointer;
      transition: all .5s;
      &:hover {
        color: $fs-white;
        background: $fs-purple;
      }
      &.pagination--active {
        color: $fs-white;
        background: $fs-purple;
      }
    }
    
    &-arrow {
      &:hover {
        transition: 0.4s ease-in-out;
      }
    }
  }
}

@media(max-width:550px) {
  .content {
    &__pagination{
      &-buttons {
        column-gap: 8px;
      }
      &-arrow,
      &-button {
        height: 35px;
        width: 35px;
        font-size: 16px;
      }
    }
  }
}
