//Colors fs

$fs-white: #fff;
$fs-black: #000;
$fs-dark: #312D3A;
$fs-purple: #7C48EE;
$fs-gray: #858585;
$fs-blue: #85B7F0;
$fs-green: #0DA94F;

//Colors Bg

$bg-white: #fff;
$bg-yellow: #D9CC46;
$bg-gray: #C2C8D0;
$bg-gray-light: #F2F2F2;
$bg-purple: #7C48EE;
$bg-blue: #85B7F0;
$bg-green: #0DA94F;
$bg-dark: #312D3A;

//Colors Border

$border-gray: #C2C8D0; 
$border-purple: #7C48EE; 
$border-blue: #85B7F0; 
$border-green: #0DA94F;