@import 'vars';
@import 'global';

//______CONTENT_____

.content {
  max-width: 875px;
  margin-left: 20px;
  width: 100%;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid $bg-gray;
  }

  &__list {
    display: flex;
    flex-direction: column;
    // gap: 20px;

    
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      padding: 20px 30px;

      &:nth-child(even) {
        background-color: $bg-gray-light;
        flex-direction: row-reverse;
      }
    }

    &-img {
      max-width: 340px;
      min-width: 220px;
      img {
        width: 100%;
      }
    }

    &-text {
      max-width: 500px;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    &-text {
      margin: 20px 0 40px;
      max-width: 690px;
    }

    &-link {
      align-self: center;
      width: 100%;
      max-width: 315px;
      padding: 13px 0;
      text-align: center;
      background-color: $bg-purple;
      color: $fs-white;
      border: 2px solid transparent;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      transition: all .5s;
      &:hover {
        border-color: $border-purple;
        color: $fs-purple;
        background-color: transparent;
      }
    }
  }

}

.style--width {
  width: 135px;
  display: flex;
  justify-content: center;
}

.top__list--active {
  border: 1px solid $bg-purple;
  max-height: 20vh;
}


//________MEDIA________

@media(max-width:1100px) {
  .aside {
    max-width: 265px;
  }

  .content {
    &__list {
      &-item {
        padding: 20px 10px;
        display: block;
        &:nth-child(even) {
          .content__list-img {
            float: right;
            margin-right: 0;
            margin-left: 20px;
          }
        }
      }
      &-img {
        float: left;
        margin-right: 20px;
      }
      &-text {
        max-width: none;
      }
    }
  }
  .style--width {
    width: 95px;
  }
}

@media(max-width:900px) {

  .content {
    &__list {
      &-item {
        display: flex;
        flex-direction: column;
        &:nth-child(even) {
          flex-direction: column;
          .content__list-img {
            margin: 0;
          }
        }
      }
      &-text {
        max-width: none;
      }
    }
    &__body {
      &-text {
        max-width: none;
      }
    }
  }

  .style--width {
    width: 80px;
  }
}

@media(max-width:750px) {
  .main {
    padding-top: 190px;
    margin: 0 0 30px;
  }
  .content {
    margin: 0;
  }
}

@media(max-width:600px) {

}

@media(max-width:550px) {
  .main {
    padding-top: 160px;
  }
  .content {
    gap: 40px;
    &__list {
      &-item {
        font-size: 14px;
        line-height: 140%;
      }
    }
    &__body {
      font-size: 14px;
      line-height: 140%;
    } 
  }
}
