@import 'vars';

.authentication {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__body {
    display: flex;
    flex-direction: column;
    border: 1px solid $border-purple;
    border-radius: 4px;
    margin: 0 15px;
    width: 540px;
  }
}

// ____Global-Authentication-STYLE____
.authentication__box {
  position: relative;
  display: flex;
  flex-direction: column;

  &-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  &-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
    color: $fs-black;
  }

  &-subtitle {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: $fs-black;
    text-align: center;
  }

  & + & {
    margin-top: 20px;
  }

  &-input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: $fs-dark;
    border: 1px solid #C2C8D0;
    border-radius: 4px;
    outline: none;
    transition: all .5s;
    &:focus {
      border-color: $border-purple;
    }
    &:focus ~ .authentication__box-label {
      color: $fs-purple;
    }

    &:focus ~ .authentication__box-label,
    &:valid ~ .authentication__box-label {
      top: -10px;
      left: 15px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
      padding: 3px 4px;
      background-color: $bg-white;
    }
  }

  &-label {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: $fs-gray;
    pointer-events: none;
    transition: .5s;
  }

  &-span {
    color: $fs-purple;
  }
}

.authentication__button {
  margin-top: 40px;
  padding: 13px 0;
  width: 100%;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $fs-white;
  background-color: $border-purple;
  cursor: pointer;
  transition: all .5s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  &:hover {
    color: $fs-dark;
    background-color: $bg-yellow;
  }
}

//-----ERROR-STYLE------

.authentication-input__error {
  border-color: #EA0000;
  &:focus{
    border-color: #EA0000;
  }
  &::placeholder {
    color: #EA0000;
  }
}
.authentication-btn__error{
  background-color: $bg-gray;
  color: $fs-white;
}

// _____authentication-login_____

.authentication__login {
  // display: none;
  display: flex;
  flex-direction: column;
  margin: 60px;
  &-img {
    margin-bottom: 60px;
    img{
      width: 100%;
    }
  }

  &-forgot {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    color: $fs-purple;
    width: 130px;
    margin-top: 20px;
    cursor: pointer;
  }

  &-bottom {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
  }

  &-text {
    color: $fs-black;
  }
  &-registration {
    margin-left: 5px;
    color: $fs-purple;
    cursor: pointer;
  }
}

// ________authentication-registration_____

.authentication__registration {
  display: none;
  // display: flex;
  flex-direction: column;
  margin: 60px 60px 45px;
  &-img {
    margin-bottom: 60px;
    img{
      width: 100%;
    }
  }

  &-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &-check {
    position: relative;
    cursor: pointer;
    &::after {
      content: url(../images/authentication/check.svg);
      position: absolute;
      width: 9px;
      height: 16px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      opacity: 0;
      z-index: 1;
      transition: .3s;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background: #fff;
      width: 17px;
      height: 17px;
      border: 1px solid $border-purple;
      border-radius: 5px;
    }
    &:checked {
      &::after{
        opacity: 1;
      }
      &::before {
        background-color: $bg-purple;
      }
    }
  }

  &-label {
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $fs-dark;
    cursor: pointer;
  }

  &-link {
    color: $fs-purple;
    transition: all .5s;
    &:hover {
      color: $fs-blue;
    }
  }

  &-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-or {
    margin: 20px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Inter';
    color: $fs-gray;
  }
  
  &-button {
    margin-top: 0;
    background-color: transparent;
    border: 1px solid $border-purple;
    color: $fs-purple;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    &:hover {
      background-color: $bg-purple;
      color: $fs-white;
    }
    img {
      margin-right: 10px;
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
  }

  &-text {
    color: $fs-black;
  }

  &-back {
    margin-left: 5px;
    color: $fs-purple;
    cursor: pointer;
  }
}

// _____authentication-password_____

.authentication__password {
  display: none;
  // display: flex;
  flex-direction: column;
  margin: 60px 60px 13px;
  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-box {
    margin: 75px 0 95px;
  }

  &-button {
    max-width: 180px;
    align-self: center;
  }

  &-back {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $fs-purple;
    margin-top: 50px;
    align-self: center;
    cursor: pointer;
  }
}

// __________Authentication-Email________

.authentication__email {
  &-address {
    display: none;
    // display: flex;
    flex-direction: column;
    margin: 75px 35px 140px;
  }
  
  &-code {
    display: none; 
    // display: flex;
    flex-direction: column;
    margin: 75px 35px 100px;
  }
  
  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
  }

  &-button {
    padding: 13px 35px;
    border: 1px solid transparent;
    align-self: center;
    width: auto;
    &:hover {
      border: 1px solid $border-purple;
      color: $fs-purple;
      background-color: transparent;
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &-btn {
    margin-left: 5px;
    color: $fs-purple;
    cursor: pointer;
  }
  
}

.authentication__code-error {
  display: none;
  align-items: center;
  margin: 5px 0 0 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #EA0000;
  img {
    margin-right: 5px;
    width: 15px;
    height: 15px;
  }
}



// _________MEDIA-576_______

@media (max-width: 576px) {

  .authentication__body {
    border: none;
    max-width: 400px;
  }

  .authentication__login,
  .authentication__registration,
  .authentication__password {
    margin: 0;
  }

  .authentication__registration {
    &-img {
      margin-bottom: 20px;
    }
    &-or {
      margin: 10px 0;
    }
    &-bottom {
      margin-top: 15px;
    }
  }

  .authentication__password-box {
    margin: 30px 0;
  }

  .authentication__box {
    & + & {
      margin-top: 10px;
    }
    &-title {
      font-size: 26px;
      line-height: 18px;
    }
    &-subtitle {
      font-size: 16px;
    }
  }

  .authentication__email{
    &-address,
    &-code {
      margin: 0;
    }
  }
}