@import 'vars';
@import 'global';

//___________CONTENT________

.content {
  width: 100%;
  max-width: 875px;
  margin-left: 20px;
  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid $border-gray;

    &-search {
      margin-left: 15px;
      padding: 8px 16px;
      max-width: 285px;
      width: 100%;
      display: flex;
      align-items: center;
      border: 1px solid $border-purple;
      border-radius: 4px;
    }

    &-input{
      margin-left: 8px;
      font-weight: 400;
      width: 100%;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.01em;
      color: $fs-dark;
      outline: none;
      border: none;
      &::placeholder {
        color: $fs-black;
        transition: all .3s;
      }
      &:focus {
        &::placeholder {
          color: $fs-gray;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    // gap: 20px;
  }

  &__item {
    & + & {
      margin-top: 20px;
    }
    &-title {
      position: relative;
      cursor: pointer;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: $fs-white;
      padding: 12px 40px 12px 16px;
      background-color: $bg-dark;
      border-radius: 4px;
      transition: all .5s;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-30%);
        right: 11px;
        width: 20px;
        height: 1px;
        background-color: #fff;
        transition: all .5s;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 0.8px;
        height: 20px;
        background-color: #fff;
        transition: all .5s;
      }
      &:hover {
        background-color: #D9CC46;
        color: $fs-dark;
        &::after,
        &::before {
          background-color: $bg-dark;
        }
      }
    }
    &-box {
      display: none;
      flex-direction: column;
      align-items: center;
      padding: 15px 40px;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      transition: display .2s;
    }
    &-text {
      margin-bottom: 15px;
    }
    &-video {
      width: 100%;
      max-width: 650px;
    }
    &--active {
      display: flex;
    }
  }
}

.content__title--active {
  background-color: $bg-purple;
  &::after {
    display: none;
  }
}



//_________MEDIA________


@media(max-width:900px) {
  .content {
    &__item {
      &-title {
        font-size: 18px;
      }
      &-text {
        font-size: 16px;
      }
    }
  }
}

@media(max-width:750px) {
  .main {
    padding-top: 190px;
    margin: 0 0 30px;
  }
  .content {
    margin: 0;
    &__top {
      &-search {
        padding: 5px;
        max-width: 230px;
      }
    }
    &__item {
      &-title {
        font-size: 16px;
      }
      &-box {
        padding: 10px 20px;
      }
      &-text {
        font-size: 14px;
      }
    }
  }

}

@media(max-width:600px) {
  .content {
    &__top {
      &-search {
        padding: 5px;
        max-width: 230px;
      }
    }
  }
}

@media(max-width:550px) {
  .main {
    padding-top: 160px;
  }
  .content {
    width: 100%;
    &__top {
      flex-direction: column;
      align-items: flex-start;
      border: none;
    &-box {
        margin-top: 10px;
      }
    &-search {
        margin: 10px 0 0;
        align-self: start;
      }
    }
    &__list {
      gap: 10px;
    }
    &__item {
      &-title {
            line-height: 20px;
      }
    }
  }
}
