@import 'vars';
@import 'global';

.main {
  margin: 30px 0 70px;
  &__inner {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
}

.aside {
  width: 100%;
  max-width: 315px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .mobile__box {
    display: none;
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 11px 18px;
      border: 1px solid $border-gray;
      border-radius: 4px 4px 0px 0px;
    }
    
    &-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid $border-gray;
      border-top: none;
      border-radius: 0px 0px 8px 8px;
    }
    
    &-item {
      padding: 11px 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: $fs-dark;
    }
    
    &-money {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: $fs-blue;
    }
  }

  &__top {
    &-title {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $fs-dark;
    }

    &-number {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: $fs-blue;
      padding: 2px 8px;
      border: 1px solid $border-blue;
      border-radius: 50%;
    }
    &-arrow {
        transition: all .5s;
    }
  }

  //_____ACCORDION_____

  &__accordion {
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 11px 18px;
      border:  1px solid $border-gray;
      border-radius: 4px 4px 0px 0px;
      cursor: pointer;
      transition: all .3s;
    }
    
    &-list {
      border:  1px solid $border-gray;
      border-top: none;
      border-radius: 0px 0px 8px 8px;
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease-out;
    }

    &-item {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      cursor: pointer;
    }
    &-link {
      padding: 14px 24px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all .5s;
      &:hover {
        background-color: $bg-blue;
      }
    }
  }
}

.accordion__top--active {
  border-color: $border-blue;
}

.accordion__list--active {
  max-height: 100%;
  border-color: $border-blue;
}

.accordion__arrow--active {
  transform: rotate(180deg);
}

//___________CONTENT________

.content {
  max-width: 875px;
  margin-left: 20px;
  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid $border-gray;

    &-search {
      margin-left: 15px;
      padding: 8px 16px;
      max-width: 285px;
      width: 100%;
      display: flex;
      align-items: center;
      border: 1px solid $border-purple;
      border-radius: 4px;
    }

    &-input{
      margin-left: 8px;
      font-weight: 400;
      width: 100%;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.01em;
      color: $fs-dark;
      outline: none;
      border: none;
      &::placeholder {
        color: $fs-black;
        transition: all .3s;
      }
      &:focus {
        &::placeholder {
          color: $fs-gray;
        }
      }
    }
  }

  // _______BODY_____

  &__list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    &-item {
      width: 100%;
      max-width: 425px;
      border: 1px solid $border-purple;
      border-top: none;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &:last-child {
        .content__list-body {
          margin: 0 20px 15px;
        }
      }
    }

    &-link{
      background: linear-gradient(360deg, #7842F6 0%, #509CE9 100%);
      border-radius: 4px;
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: $fs-white;
      padding: 18px 14px;
    }

    &-body {
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: $fs-black;
      margin: 34px 20px 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-info {
      margin-top: 10px;
      display: flex;
      align-items: flex-end;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
    }

    &-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $bg-blue;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 1.2px;
        height: 100%;
        background-color: $bg-blue;
      }
    }
  }

  &__info {
    &-number {
      font-weight: 600;
      font-size: 64px;
      line-height: 58px;
      color: $fs-blue;
      margin-right: 10px;
    }
  }

  &__box {
    &-info {
      padding: 10px 5%;
    }

    &-number {
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
    }
    
    
    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: $fs-black;
    }
  }
}

//_________MEDIA________

@media(max-width:1100px) {
  .aside {
    max-width: 265px;
  }

  .content {
    &__list {
      &-body {
        margin: 15px 10px;
      }
    }
    &__info-number {
      font-size: 54px;
      line-height: 48px;
    }

    &__box {
      &-number {
        font-size: 22px;
        line-height: 120%;
      }
    }
  }
}

@media(max-width:900px) {
  .aside {
    max-width: 225px;
  }
  .content {
    &__list {
      gap: 10px;
      &-body {
        font-size: 14px;
        line-height: 110%;
      }

      &-info {
        font-size: 12px;
      }
    }
    &__info-number {
      font-size: 40px;
      line-height: 34px;
    }

    &__box {
      &-number {
        font-size: 18px;
        line-height: 110%;
      }
    }
  }
}

@media(max-width:700px) {

  .content {
    margin: 0;
  }

  .aside {
    padding: 40px 10px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 315px;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.4s;
    overflow: auto;
    background-color: #fff;

    &--active {
      transform: translateX(0);
    }
    .mobile__box {
      display: flex;
      align-items: center;
      &-text {
        font-size: 16px;
      }
    }
  }

}

@media(max-width:600px) {
  .main {
    margin: 30px 0;
  }
  .aside {
    padding-top: 20px;
  }
  .content {
    &__top {
      &-search {
        padding: 5px;
        max-width: 230px;
      }
    }
  }
}

@media(max-width:450px) {
  .content {
    width: 100%;
    
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-item {
        max-width: 315px;
      }
      &-body {
        margin: 15px 10px;
      }
    }

    &__info-number {
      font-size: 54px;
      line-height: 48px;
    }
  
    &__box {
      &-number {
        font-size: 22px;
        line-height: 120%;
      }
    }
  }
}


@media(max-width:400px) {
  .aside {
    max-width: none;
    width: 100%;
  }
}