@import 'vars';
@import 'global';


//___________CONTENT________


.cabinet {
  margin: 0 auto;
  &__info,
  &__edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-box{
      display: flex;
    }

  &-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
  }

  &-label {
    cursor: pointer;
  }

  &-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #726f6f;
    object-fit: cover;
  }

  &-file {
    display: none;
  }

    &-list {
      max-width: 450px;
      width: 100%;
    }

    &-item {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: $fs-purple;
    margin-bottom: 10px;
  }

  &-input {
    width: 400px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #2D333A;
    border: 1px solid #C2C8D0;
    border-radius: 4px;
    padding: 15px 16px;
    &:focus {
      outline-color: #7C48EE;
    }
  }

  &-buttons {
    grid-area: 2 / 1 / 3 / 3;
    margin: 20px auto 0;
  }
  &-button {
    border: 1px solid $fs-purple;
    border-radius: 4px;
    color: $fs-purple;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    width: 140px;
    cursor: pointer;
    transition: all .5s;
      &:hover {
        background-color: $bg-purple;
        color: $fs-white;
      }
    }
  }
  &__edit {
    display: none;
  }

}

//_________MEDIA________

@media(max-width:1100px) {
  .cabinet {
  &__info,
  &__edit {
    &-input {
      width: 350px;
    }
  }
}
}

@media(max-width:900px) {
  .cabinet {
    &__info,
    &__edit {
      &-box {
        flex-direction: column;
      }
      &-inner {
        margin-bottom: 20px;
      }
      &-input {
        width: 330px;
      }
    }
  }
}


@media(max-width:750px) {
  .main {
    padding-top: 190px;
    margin: 0 0 30px;
  }
  .cabinet {
    margin: 0 auto;
    &__info,
    &__edit {
      &-inner {
        margin-bottom: 0px;
      }
      &-box {
        flex-direction: row;
      }
    }
  }
}

@media(max-width:600px) {
  .cabinet {
    margin: 0 auto;
    &__edit,
    &__info {
      &-inner {
        margin: 0;
        margin-right: 20px;
      }
      &-input {
        width: 310px;
      }
    }
    &__photo {
      &-img {
        width: 150px;
        height: 150px;
      }
    }
    &__buttons {
      &-save,
      &-delete {
        width: 130px;
      }
    }
  }
}

@media(max-width:550px) {
  .main {
    padding-top: 160px;
  }

  .cabinet {
    &__edit,
    &__info {
      &-inner {
        margin-bottom: 20px;
      }
      &-box {
        flex-direction: column;
      }
    }
  }
}