@import 'vars';
@import 'global';
@import 'calendar';
@import 'pagination';

//______CONTENT_____

.content {
  max-width: 875px;
  margin-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;

  &__create {
    &-btn {
      display: none;
      align-items: center;
      justify-content: center;
      max-width: 170px;
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      background-color: #7C48EE;
      color: #fff;
      padding: 13px 0;
      margin: 15px 0;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.5s;
    }
    &-img {
      margin-right: 5px;
      width: 20px;
    }
  }

  &__form {
    margin: 10px 0 30px;
    display: flex;
    gap: 40px;
    transition: all .3s;

    &--active {
      height: 350px;
      overflow: auto;
    }
    &-box {
      display: flex;
      flex-direction: column;
      max-width: 430px;
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    &-input,
    &-textarea {
      width: 100%;
      padding: 13px 20px;
      border: 1px solid $border-gray;
      outline: none;
      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
      border-radius: 2px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      font-family: "Roboto";
    }
    
    &-textarea {
      resize: none;
      margin-top: 15px;
    }

    &-submit {
      margin-top: 30px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      background-color: $bg-purple;
      color: $fs-white;
      padding: 13px 0;
      border: 1px solid transparent;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      max-width: 170px;
      cursor: pointer;
      transition: all .5s;
      &:hover {
        border-color: $border-purple;
        color: $fs-purple;
        background-color: transparent;
      }
    }

    &-tags {
      display: flex;
      flex-direction: column;
      max-width: 290px;
    }

    &-duration {
      margin-top: 30px;
      max-width: 340px;
      &:first-child {
        margin-left: 10px;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 24px;
      line-height: 130%;
      color: $fs-purple;
      margin-bottom: 10px;
    }

    &-body {
      display: flex;
      flex-direction: column;
    }

    &-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px 5px;
    }

    &-item {
      padding: 10px 20px;
      border: 1px solid #858585;
      border-radius: 100px;
      cursor: pointer;
    }

    &-btn {
      margin-top: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      align-self: flex-start;
      padding: 10px 20px;
      border: 1px solid #858585;
      border-radius: 100px;
      cursor: pointer;
      transition: all .4s;
      &:hover {
        background-color: $bg-purple;
        color: $fs-white;
      }
    }
    &-selects {
      display: flex;
      gap: 10px;
    }
    &-select {
      padding: 2px 0;
      border-color: $border-gray;
      border-radius: 4px;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      &::-webkit-scrollbar {
        width: 10px;
        background-color: white;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $border-gray;
      } 
    }

    &-times {
      margin-top: 10px;
      justify-content: center;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid $border-gray;

    &-search {
      align-self: flex-end;
      margin-left: 15px;
      padding: 8px 16px;
      max-width: 285px;
      width: 100%;
      display: flex;
      align-items: center;
      border: 1px solid $border-purple;
      border-radius: 4px;
    }

    &-input{
      margin-left: 8px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.01em;
      color: $fs-dark;
      width: 100%;
      outline: none;
      border: none;
      &::placeholder {
        color: $fs-black;
        transition: all .3s;
      }
      &:focus {
        &::placeholder {
          color: $fs-gray;
        }
      }
    }
  }

  &__filter {
    &-btn {
      display: none;
      align-items: center;
      justify-content: center;
      max-width: 170px;
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      background-color: #7C48EE;
      color: #fff;
      padding: 13px 0;
      margin: 15px 0;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.5s;
    }
    &-img {
      margin-right: 5px;
      width: 20px;
    }
  }

  &__titles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 55px 20px 0;
    &-item {
      display: flex;
      align-items: center;
      width: 135px;
      justify-content: center;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
    }
  }

  &__body {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $bg-green;
    }
    &-titleDate {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      padding: 6px 20px;
      border: 1px solid $border-green;
      border-radius: 100px;
      background-color: $bg-white;
      z-index: 5;
    }
    &-list {
      padding: 30px 0 0;
      position: relative;
    }
    &-box {
      display: flex;
      position: relative;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      position: relative;
      transition: all .5s;
      cursor: pointer;
      &:hover {
        background-color: #ebebeb;
      }
    }
    &-items {
      width: 100%;
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    &-item {
      display: flex;
      align-items: center;
    }

    &-number {
      position: absolute;
      left: 0;
    }
    &-titles {
      display: none;
    }

    &-btn {
      display: none;
    }

    &-status {
      padding: 6px 45px;
      border: 1px solid $border-purple;
      border-radius: 2px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }

    &-messages {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      gap: 5px;
      color: $fs-purple;
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
    }
  }

  &__mobile {
    display: none;
  }

  &__showing {
    &-box {
      margin-top: 15px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      position: relative;
    }

    &-number {
      color: $fs-purple;
      margin-left: 5px;
    }

    &-img {
      transform: rotate(-180deg);
    }

    &-list {
      display: flex;
      flex-direction: column-reverse;
      position: absolute;
      bottom: 30px;
      z-index: 10;
      right: 0;
      background-color: $bg-white;
      border: 1px solid transparent;
      border-radius: 4px;
      max-height: 0;
      overflow: hidden;
      transition: all .3s ease-out;
    }
    
    &-item {
      padding: 0 20px 0 10px;
      transition: all .5s;
      &:hover {
        background-color: $bg-blue;
      }
    }

    &--active {
      border: 1px solid $bg-purple;
      max-height: 20vh;
    }
  }
}

.style--width {
  width: 135px;
  display: flex;
  justify-content: center;
}

//________POPUP_WINDIW_________

.popup {
  position: fixed;
  inset: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 30px 15px;
  color: #000;
  visibility: hidden;
  transition: visibility 0.8s ease 0s;

  &::before {
    content: '';
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: opacity 0.8s ease 0s;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    width: 100%;
    min-height: 100%;
  }

  &__body {
    width: 100%;
    max-width: 400px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    transform: scale(0);
    transition: all 0.3s ease 0s;
  }

  &__close {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #000;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 30;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::after,
    &::before {
      content: '';
      position: absolute;
      right: 0;
      width: 100%;
      height: 0.125rem;
      background-color: #000;
      transition: all 0.3s ease 0s;
    }

    &::after {
      bottom: calc(50% - 0.0625rem);
      transform: rotate(45deg);
    }

    &::before {
      top: calc(50% - 0.0625rem);
      transform: rotate(-45deg);
    }

    &:hover {
      &::after,
      &::before {
        background-color: $bg-purple;
      } 
    }
  }

  &__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: $fs-purple;
  }

  &.show {
    visibility: visible;
    overflow: auto;

    &::before {
      opacity: 1;
    }

    .popup__body {
      transform: scale(1);
      transition: all 0.3s ease 0.2s;
    }
  }
}

.popup__box {
  display: flex;
  flex-direction: column;
}


.popup__input {
    margin: 20px 0;
    width: 100%;
    outline: 0;
    border: none;
    border-bottom: 2px solid $border-purple;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .07em;
    &::placeholder {
      color: $fs-black;
      transition: all .4s;
    }
    &:focus {
      &::placeholder {
        color: $fs-gray;
      }
    }
}

.popup__btn {
    width: 100%;
    align-self: center;
    max-width: 150px;
    padding: 10px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: .07em;
    color: #fff;
    background-color: $bg-purple;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
    &:hover {
      background-color: transparent;
      border-color: $border-purple;
      color: $fs-purple;
    }
}


@media(max-width:1100px) {
  .content {
    &__titles {
      &-item {
        width: 105px;
        font-size: 16px;
        line-height: 130%;
        white-space: nowrap;
      }
    }

    &__body {
      &-number {
        left: 0;
      }
    }
  }

  .style--width {
    width: 95px;
  }
}

@media(max-width:900px) {
  .aside {
    &__accordion {
      &-item {
        padding: 10px;
        gap: 2px;
      }
      &-select {
        font-size: 12px;
      }
    }
  }

  .content {
    &__form {
      gap: 10px;

      &-title {
        font-size: 20px;
        line-height: 120%;
      }

      &-item {
        padding: 10px;
        font-size: 14px;
        line-height: 120%;
      }

      &-btn {
        font-size: 14px;
        line-height: 120%;
      }

      &-selects {
        gap: 5px;
      }
      &-select {
        font-size: 14px;
        line-height: 120%;
      }
    }

    &__top {
      &-box {
        font-size: 16px;
        line-height: 130%;
      }

      &-search {
        padding: 5px;
        max-width: 230px;
      }
    }

    &__titles {
      // margin-right: 80px;
      &-item {
        width: 90px;
        font-size: 14px;
        line-height: 110%;
      }
    }

    &__body {
      &-item {
        font-size: 14px;
        line-height: 140%;
      }
      &-status {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .style--width {
    width: 80px;
  }
}

@media(max-width:750px) {
  .main {
    padding-top: 190px;
    margin: 0 0 30px;
  }
  .content {
    margin: 0;
    &__filter-btn {
      display: flex;
    }
  }
}

@media(max-width:600px) {

  .content {
    &__top {
      &-search {
        padding: 5px;
        max-width: 230px;
      }
    }
    &__body {
      &-item,
      &-status {
        font-size: 14px;
        line-height: 130%;
      }
    }
  }
}

@media(max-width:550px) {
  .main {
    padding-top: 160px;
  }
  .content {
    gap: 40px;
    &__create {
      &-btn {
        display: flex;
      }
    }
    &__form {
      margin: 10px 0;
      flex-direction: column-reverse;
      height: 0;
      overflow: hidden;
      &-duration {
        margin: 15px 0;
      }
      &--active {
        height: 580px;
      }
    
      &-duration {
        margin-top: 10px;
      }
    }
    &__top {
      flex-direction: column;
      align-items: flex-start;
      border: none;
      &-box {
        margin-top: 10px;
      }
      &-search {
        margin: 10px 0 0;
        align-self: start;
      }
    }

    &__titles {
      display: none;
    }

    &__body {
      margin-top: 10px;
      &-box {
          display: flex;
          width: 100%;
          justify-content: space-evenly;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          overflow: hidden;
          height: 60px;
          transition: all .5s;
          padding-top: 3px;
          margin: 5px 0;
        }
        &-items {
          width: auto;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          padding: 0;
        }
        &-titles {
          display: flex;
          flex-direction: column;
        }
        &-btn {
          display: block;
          align-self: start;
        }

      &-title {
        margin-top: 5px;
        &:first-child {
          font-weight: 600;
        }
      }
      
      &-item  {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 140%;
        & + & {
          margin-top: 6px;
        }

        &:nth-child(1) {
          order: 2;
        }
        &:nth-child(3) {
          order: 4;
        }
        &:nth-child(4) {
          order: 5;
        }
        &:nth-child(5) {
          order: 5;
        }
      }

      &-link {
      height: 22px;
      }
      
      &-number {
        display: none;
      }

      &-status {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        border: 1px solid $border-purple;
        padding: 1px 7px;
        width: 70px;
      }

      &-messages {
        align-self: start;
        position: relative;
        font-size: 8px;
        line-height: 30%;
        width: 30px;
        p {
          width: 15px;
          height: 15px;
          position: absolute;
          top: 0px;
          right: -7px;
          background-color: $bg-purple;
          color: #fff;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        img {
          width: 30px;
        }
      }

      &-btn {
        transition: all .5s;
      }
      &-activeBox {
        transition: all .5s;
        height: 135px;
      }
      &-activeBtn {
        transition: all .5s;
        transform: rotate(-180deg);
      }
    }
  }
}